
.animation-blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


.bullet-dot {
    width: 4px;
    height: 4px;
    border-radius: 100%!important;
}
.bullet {
    display: inline-block;
    background-color: var(--kt-bullet-bg-color);
    border-radius: 6px;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
}